@font-face {
  font-family: Playfair Display;
  src: url(./PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: Jakarta;
  src: url(./PlusJakartaSans-VariableFont_wght.ttf);
}

:root {
  --plyr-color-main: rgba(255, 255, 255, 0.5);
  --swiper-theme-color: #fff;
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin: 0 auto;
  position: relative;
  background-color: #000;
  color: #fff;
  font-family: Jakarta;
}

/* Commons */
a {
  text-decoration: none;
  color: inherit;
}

p,
i {
  max-width: 50ch;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.section {
  margin: 4rem 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display';
}

/* Hero */
#hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(255, 255, 255, 0) 30%,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 1) 90%
  );
}

#hero video,
#hero img {
  height: 90%;
  width: 100%;
  object-fit: cover;
}

#hero header {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  padding: 2rem 1rem;
}

#hero header a {
  display: grid;
}

#hero header a span {
  display: none;
}

#hero .links {
  font-size: 1.25rem;
  display: none;
}

#hero .links ul {
  margin-top: 0.5rem;
  display: grid;
  gap: 0.5rem;
}

#hero a {
  text-shadow: 0 0 1px #000;
}

#hero .links a:hover,
#hero .links .active {
  text-decoration: underline;
}

#hero .down,
.up {
  position: absolute;
  bottom: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  fill: white;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid white;
  border-radius: 50%;
  padding: 0.5rem;
}

/* Gallery */
#photography,
#videos {
  margin-top: 6rem;
  max-width: min(1440px, 100%);
  width: 100%;
}

#photography a,
#videos a {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

#photography h1,
#videos h1 {
  display: inline-block;
}

#photography a svg,
#videos a svg {
  fill: white;
  transform: rotate(-90deg);
  fill: white;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.photoGallery,
.videoGallery {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.photoGallery img,
.videoGallery > div {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  aspect-ratio: 16 / 9;
}

.photoGallery img:first-of-type:hover {
  transform: scale(1.025);
}

.photoGallery > div,
.videoGallery > div {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.photoGallery .large {
  display: none;
}

.photoGallery > div .projectName {
  position: absolute;
  bottom: 3.5rem;
  left: 2rem;
  text-shadow: 0 0 5px #000;
}

.photoGallery > div .projectBrand {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  text-shadow: 0 0 2px #000;
}

.videoGallery > .plyr--paused .plyr__controls {
  opacity: 0;
}

/* Photography Page*/
.photographyBody #hero {
  height: 75vh;
  max-width: 1920px;
}

.photographyBody #hero .overlay {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(255, 255, 255, 0) 35%,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 1) 90%
  );
}

.photographyBody #hero img {
  object-fit: cover;
  margin: 0 auto;
}

/* Swiper */
.swiper {
  max-width: min(1200px, 100%);
  height: 15vh;
  position: relative;
}

.swiper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.95) 0%,
    rgba(255, 255, 255, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.95) 100%
  );
  z-index: 2;
  pointer-events: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide img:hover {
  cursor: pointer;
}

.swiper-button-next {
  stroke: black;
}

/* About Page */
#introduction {
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 1rem;
  max-width: 1200px;
}

#introduction div {
  display: grid;
  gap: 1rem;
  place-self: center;
  margin: 0 auto;
}

#introduction img {
  max-width: min(500px, 100%);
  margin: 0 auto;
}

#miniGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 4rem auto;
}

#miniGallery img {
  max-width: 375px;
  max-height: 250px;
  object-fit: contain;
  margin: 0 auto;
}

/* Footer */
footer {
  display: grid;
  place-items: center;
  margin-top: 4rem;
  text-align: center;
}

@media only screen and (min-width: 666px) {
  #hero header {
    width: 100%;
    max-width: min(1200px, 90%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }

  #hero header a {
    display: flex;
  }

  #hero header a span {
    display: block;
    margin: 0 0.5rem;
  }

  #hero header .links ul {
    display: flex;
    gap: 1rem;
    margin-top: 0;
  }

  .photoGallery > div,
  .videoGallery > div {
    max-width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  #hero header .links {
    display: block;
  }

  .photoGallery > div,
  .videoGallery > div {
    max-width: 450px;
    max-height: 300px;
  }
}
